################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JsonDiffPatchDotNet.Core/bin
/JsonDiffPatchDotNet.Core/obj
/JsonDiffPatchDotNet.Core.UnitTest/bin
/JsonDiffPatchDotNet.Core.UnitTest/obj

